{% extends 'homebase.html' %}

{% block title %} {{ setting.company }} {% endblock %}
{% block keywords %} index sayfasi {% endblock %}
{% block description %} index sayfasi {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block content %}


<div class="content">
  <div class="content_resize">
    <div class="content_resize2">
      <div class="mainbar">
        <div class="article">
          <h2><span>Kitap Detay</span></h2>
          <div class="clr"></div>
          <img src="{{ book.image.url }}" width="500" height="500" >
          <h2>{{ book.detail | safe }}</h2>
          {% for rs in images %}
          <img src="{{ rs.image.url }}" alt="">
          {% endfor %}
        </div>
        
      </div>

      <div class="clr"></div>

      <h2>Yorumlar</h2>

      {% for rs in comments %}
        <h4>{{rs.subject}}</h4>
        <p>{{rs.comment}}</p>
      {% endfor %}

      <form class="review-form" action="/book/addcomment/{{ book.id }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="subject" class="input" type="text" placeholder="Your subject" />
        </div>
        <div class="form-group">
            <textarea name="comment" class="input" placeholder="Your review"></textarea>
        </div>
        <div class="form-group">
            <div class="input-rating">
                <strong class="text-uppercase">Your Rating: </strong>
                <div class="stars">
                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                </div>
            </div>
        </div>
        {% if user.id is not None %}
            <button class="primary-btn">Submit</button>
        {% else %}
            You must be logged in to post a review
        {% endif %}
    </form>


    </div>
  </div>
</div>


{% endblock %}

{% block body %}
    {% include "fbg.html" %}
{% endblock %}