<div class="content">
    <div class="content_resize">
      <div class="content_resize2">
        <div class="mainbar">
          <div class="article">
            {% include 'slider.html' %}
          </div>
          <div class="article">
            <h2><span>Günün</span> Kitapları</h2>
            <div class="clr"></div>
            
            {% for rs in daybooks %}
            <a href="/book/{{ rs.id }}/{{ rs.slug }}">
            <img src="{{ rs.image.url }}" width="417" height="197" alt="" />
          </a>
            <p>{{ rs.title }}</p>
            {% endfor %}
          </div>

          <div class="article">
            <h2><span>Son</span> Kitaplar</h2>
            <div class="clr"></div>
            
            {% for rs in lastbooks %}
            <a href="/book/{{ rs.id }}/{{ rs.slug }}">
            <img src="{{ rs.image.url }}" width="417" height="197" alt="" />
          </a>
            <p>{{ rs.title }}</p>
            {% endfor %}
          </div>

          <div class="article">
            <h2><span>Sizin için</span> Seçilenler</h2>
            <div class="clr"></div>
            
            {% for rs in randombooks %}
            <a href="/book/{{ rs.id }}/{{ rs.slug }}">
            <img src="{{ rs.image.url }}" width="417" height="197" alt="" />
          </a>
            <p>{{ rs.title }}</p>
            {% endfor %}
          </div>
          
        </div>
        <div class="sidebar">
          <div class="gadget">
            <h2 class="star"><span>Kitap</span> Kategorileri</h2>
            <div class="clr"></div>
            {% load mptt_tags %}
            
            <ul id="root">
              {% recursetree category %}
                    <li><span class="caret">
                      
                      <a href="/category/{{ node.slug }}">{{ node.title }}</a></span>
                        {% if not node.is_leaf_node %}
                            <ul>
                            <a href="">--->{{ children }}</a>
                            </ul>
                        {% endif %}
                      </li>
                {% endrecursetree %}
            </ul>
            <ul class="root">
              {% recursetree category %}
                  <li>
                  {{ node.title }}
                      {% if not node.is_leaf_node %}
                          <ul class="children">
                              {{ children }}
                          </ul>
                      {% endif %}
                  </li>
              {% endrecursetree %}
          </ul>
            <ul class="sb_menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">TemplateInfo</a></li>
              <li><a href="#">Style Demo</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Archives</a></li>
            </ul>

          </div>

        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>