{% extends 'homebase.html' %}

{% block title %} {{ setting.company }} {% endblock %}
{% block keywords %} index sayfasi {% endblock %}
{% block description %} index sayfasi {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block content %}


<div class="content">
  <div class="content_resize">
    <div class="content_resize2">
      <div class="mainbar">
        <div class="article">
          <h2><span>Ödünç Kitap İstek Listesi</span></h2>

          <table cellpadding="3" width="600">
            <tr>
              <th>Resim</th>
              <th>Kitap İsmi</th>
              <th>İşlem</th>
            </tr>

            {% for rs in borrowcart1 %}
<tr>
<td><a href="/book/{{ rs.id }}/{{ rs.slug }}"> <img src="{{ rs.book.image.url }}" alt="" style="height: 100px"></a></td>
<td><a href="/book/{{ rs.id }}/{{ rs.slug }}">{{ rs.book.title }}</a>	</td>
<td><a href="/borrow/deletefromcart/{{ rs.id }}">Kitap Sil</a>	</td>
</tr>
{% endfor %}

</table>

        </div>
        
      </div>

      <div class="clr"></div>



    </div>
  </div>
</div>


{% endblock %}

{% block body %}
    {% include "fbg.html" %}
{% endblock %}



